<h1>Lista de Proveedores</h1>

<table>
  <% if @providers.nil? %>
    Numero de Providers es 0
  <% else %>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>NIT</th>
      <th>Nombre de contacto</th>
      <th>Telefono</th>
    </tr>
  </thead>
  <% end %>

  <tbody>
    <% if @providers.nil? %>
      Numero de Providers es 0
    <% else %>
      <%= "Numero de Providers es " + @providers.size.to_s %>
      <% @providers.each do |provider| %>
        <tr>
          <td><%= provider.name %></td>
          <td><%= provider.NIT %></td>
          <td><%= provider.contact_name %></td>
          <td><%= provider.phone %></td>
          <td>
            <%= link_to "Editar", edit_provider_path(provider) %>
            <%= link_to "Mostrar", provider_path(provider) %>
            <%= button_to "Eliminar",
            provider_path(provider),
            method: :delete,
            data: {
              confirm: "¿Estás seguro que deseas eliminar esta cuenta?"
            } %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Crear Proveedor', new_provider_path, class: 'text-blue-500 hover:underline' %> |
<%= link_to "Back", root_path %>

