<!DOCTYPE html>
<html>
  <head>
    <title>BankHome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
          <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
            <div class="flex-shrink-0">
              <%= link_to "BankHome", root_path, class: "text-white" %>
            </div>
            <div class="hidden sm:block sm:ml-6">
              <div class="flex space-x-4">
                <%= link_to "Providers", providers_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="flex flex-col items-center justify-center min-h-screen">
      <%= notice %>
      <%= alert %>
      <%= yield %>
    </div>
  </body>
</html>
